<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mighty Ducks Hockey League</title>
</head>
<body>
    <header>
        <h1></h1>
        <nav>
            <a href="../views/index.html">Home</a>
            <a href="../views/about.html">About MDHL</a>
            <a href="../views/game.info.html">Game Information</a>
            <a href="#">Rules & Policies</a>
            <a href="../views/contact.html">Contact</a>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
    
</body>
</html>